{% extends 'base.html' %}


{% block title %}
    Inicio de session
{% endblock %}

{% block header %}

{% endblock %}
<br>
{% block content %}
    <h1>Ingresa tus datos para loguearte</h1>
    {% if form %}
        <form action="" method="POST">
            {% csrf_token %}
                <table>{{form.as_table}}</table>
                <input type="submit" value="Ingresar">
        </form>
    {% endif %}
    {% if errors %}
        <p style="color: red;">{{errors}}</p>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}